@if (task) {
  <span class="task-item {{task.type}}">
    <span class="task-description" #tooltip="matTooltip" matTooltip="{{task.description}}">
      @if (task.type==='AUTHOR') {
        <mat-icon>edit</mat-icon>
      }
      @if (task.type==='RECONCILE') {
        <mat-icon>compare_arrows</mat-icon>
      }
      @if (task.type==='REVIEW') {
        <mat-icon>checklist</mat-icon>
      }
      {{task.description | trim}}
    </span>
    @if (showRows) {
      <span class="two-line-ellipse"><i>{{'TASK.ROWS_LABEL' | translate}} {{task.sourceRowSpecification | trim}}&nbsp;</i></span>
    }
  </span>
}
