@if (role) {
  <mat-chip-option>
    @if (role) {
      <span>{{role}}</span>
    }
    <span #tooltip="matTooltip" matTooltip="{{user.givenName}} {{user.familyName}}">
      <app-gravatar [s]="font_size" [email]="user.email" [alt]="(user.givenName | initials) + (user.familyName | initials)"></app-gravatar>
    </span>
  </mat-chip-option>
}
@if (!role) {
  <span #tooltip="matTooltip" matTooltip="{{user.givenName}} {{user.familyName}}">
    <app-gravatar [s]="font_size" [email]="user.email" [alt]="(user.givenName | initials) + (user.familyName | initials)"></app-gravatar>
  </span>
}
