.setwidth {
  width: 800px;
  height: 100%;
  overflow: unset;
  box-sizing: border-box;
  padding: 0 24px 24px;
}

.setwidth h2[mat-dialog-title] {
  margin-left: -24px;
  margin-right: -24px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.mat-icon {
  margin-right: 10px;
}

.box {
  display: flex;
  align-items: center;
}

mat-card > .box {
  padding: 16px;
}

.spaced {
  justify-content: space-between;
}

.mat-divider {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mat-mdc-checkbox {
  margin-right: 5px;
}

.mat-mdc-card {
  margin-bottom: 15px;
}

.change-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.change-radio-button {
  margin: 5px 10px;
}

.alert-warning, .alert-danger {
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}

.alert {
  margin-top: 10px;
}

.search-title {
  font-size: 18px;
}
