#task-select .mat-mdc-select {
  vertical-align: top;
  margin-bottom: -20px;
  margin-top: -8px;
}

#task-select .mat-mdc-form-field {
  width: 100%;
  height: 28px;
  vertical-align: super;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
#task-select .mat-select-arrow-wrapper {
  vertical-align: bottom !important;
}
