<div id="task-select">
  <app-errormessage [error]="error"></app-errormessage>
  <mat-form-field>
    <mat-label>{{selectedLabel}}</mat-label>
    <mat-select id="task-select-dropdown" #taskSelect [(ngModel)]="selectedTask" (selectionChange)="changeTask($event)">
      @if (selectedTask) {
        <mat-select-trigger>
          <app-task-item [task]="selectedTask"></app-task-item>
        </mat-select-trigger>
      }
      @for (maptask of myTasks; track maptask) {
        <mat-option [value]="maptask">
          <app-task-item [task]="maptask" [showRows]="showRows"></app-task-item>
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
@if (selectedTask) {
  <p id="task-select-rows" class="one-line-ellipse"><label>{{'TASK.ROWS_LABEL' | translate}}</label>&nbsp;{{selectedTask.sourceRowSpecification}}&nbsp;</p>
}
