<div class="badge-container">
  @if (project.owners && project.owners.length > 0) {
    <span [matBadgeHidden]="project.owners && project.owners.length <= 3"
      [matBadge]="'+' + (project.owners.length - 3)"
      class="member-badges">
      <span class="member-label">{{'MAP.OWNERS' | translate}}</span>
      <span class="user-container">
        @for (user of project.owners | slice:0:3; track user) {
          <mat-chip-listbox>
            <app-user-chip [user]="user"></app-user-chip>
          </mat-chip-listbox>
        }
      </span>
    </span>
  }
  @if (project.members && project.members.length > 0) {
    <span [matBadgeHidden]="project.members && project.members.length <= 3"
      [matBadge]="'+' + (project.members.length - 3)"
      class="member-badges">
      <span class="member-label">{{'MAP.MEMBERS' | translate}}</span>
      <span class="user-container">
        @for (user of project.members | slice:0:3; track user) {
          <mat-chip-listbox>
            <app-user-chip [user]="user"></app-user-chip>
          </mat-chip-listbox>
        }
      </span>
    </span>
  }
  @if (project.guests && project.guests.length > 0) {
    <span [matBadgeHidden]="project.guests && project.guests.length <= 3"
      [matBadge]="'+' + (project.guests.length - 3)"
      class="member-badges">
      <span class="member-label">{{'MAP.GUESTS' | translate}}</span>
      <span class="user-container">
        @for (user of project.guests | slice:0:3; track user) {
          <mat-chip-listbox>
            <app-user-chip [user]="user"></app-user-chip>
          </mat-chip-listbox>
        }
      </span>
    </span>
  }
</div>
