.table-selector-cell {
  width: 50px;
  max-width: 50px;
  min-width: 50px;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  padding-left: 5px;
}

th.table-selector-cell {
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 12px;
  box-sizing: border-box;
}

.select-all-badge ::ng-deep .mat-badge-content {
  width: auto !important;
  padding-left: 4px;
  padding-right: 4px;
  bottom: auto !important;
  left: auto !important;
  text-overflow: unset;
  border-radius: 3px !important;
  right: -6px !important;
  font-size: 0.8em !important;
  height: 14px !important;
  line-height: 14px !important;
}


.mat-mdc-checkbox .mdc-checkbox__background {
  transform: scale(1.1);
}

.table-selector-cell .mat-mdc-checkbox {
  --mdc-checkbox-state-layer-size: 20px;
  width: 24px;
  height: 24px;
}

td.table-selector-cell .mat-mdc-checkbox {
  margin-top: 6px;
}

::ng-deep .table-selector-cell .mat-mdc-checkbox .mdc-form-field,
::ng-deep .table-selector-cell .mat-mdc-checkbox .mdc-checkbox {
  width: 24px;
  height: 24px;
}

::ng-deep .table-selector-cell .mat-mdc-checkbox .mat-mdc-checkbox-ripple {
  width: 24px;
  height: 24px;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
}

mat-checkbox.select-all-on-page {
  display: block !important;
  margin-top: -2px;
  margin-left: auto;
  margin-right: auto;
}
