<mat-card appearance="outlined" class="assigned-work-card">
  <app-errormessage [error]="error"></app-errormessage>
  <mat-card-content>
    @if (loading) {
      <div>
        <app-loading-spinner></app-loading-spinner>
      </div>
    }
    <mat-tab-group class="task-list" [selectedIndex]="activeTab" (selectedTabChange)="setActiveTab($event)">
      @if (mapping && (isAdmin || isUserInGroup(currentUser, mapping.project.owners) || isUserInGroup(currentUser, mapping.project.members))) {
        <mat-tab
          >
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">add_task</mat-icon>
            <span>{{'TASK.ADD_TASK' | translate}}</span>
          </ng-template>
          <app-task-add [mappingTableSelector]="mappingTableSelector"
            [mapping]="mapping" [currentUser]="currentUser"
            (cancelNewTaskEvent)="taskCreateCancelled()"
          (newTaskEvent)="selectTaskTab($event)"></app-task-add>
        </mat-tab>
      }

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">edit</mat-icon>
          <span matBadge="{{authTotalElements}}" matBadgeSize="small"
          matBadgeOverlap="false">{{'TASK.TAB_AUTHOR' | translate}}</span>
        </ng-template>
        <mat-paginator #authpaginator
          [length]="authTotalElements || 0"
          [pageIndex]="authCurrentPage"
          [pageSize]="authPageSize"
          [pageSizeOptions]="pageSizeOptions"
          (page)="authPageChanged($event)"
          [showFirstLastButtons]="true">
        </mat-paginator>
        @for (task of authorTasks; track task) {
          <div>
            <app-task-card [task]="task" [isClickable]="isAssigned(task)"
              [currentUser]="currentUser" [isOwner]="isOwner()"
            (updateTaskEvent)="selectTaskTab($event)"></app-task-card>
          </div>
        }
      </mat-tab>

      @if (mapping?.project?.dualMapMode) {
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">compare_arrows</mat-icon>
            <span matBadge="{{reconcileTotalElements}}" matBadgeSize="small"
            matBadgeOverlap="false">{{'TASK.TAB_RECONCILE' | translate }}</span>
          </ng-template>
          <mat-paginator #reconcilepaginator
            [length]="reconcileTotalElements || 0"
            [pageIndex]="reconcileCurrentPage"
            [pageSize]="reconcilePageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="reconcilePageChanged($event)"
            [showFirstLastButtons]="true">
          </mat-paginator>
          @for (task of reconcileTasks; track task) {
            <div>
              <app-task-card [task]="task" [isClickable]="isAssigned(task)"
                [currentUser]="currentUser" [isOwner]="isOwner()"
              (updateTaskEvent)="selectTaskTab($event)"></app-task-card>
            </div>
          }
        </mat-tab>
      }

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">checklist</mat-icon>
          <span matBadge="{{reviewTotalElements}}" matBadgeSize="small"
          matBadgeOverlap="false">{{'TASK.TAB_REVIEW' | translate}}</span>
        </ng-template>
        <mat-paginator #reviewpaginator
          [length]="reviewTotalElements || 0"
          [pageIndex]="reviewCurrentPage"
          [pageSize]="reviewPageSize"
          [pageSizeOptions]="pageSizeOptions"
          (page)="reviewPageChanged($event)"
          [showFirstLastButtons]="true">
        </mat-paginator>
        @for (task of reviewTasks; track task) {
          <div>
            <app-task-card [task]="task" [isClickable]="isAssigned(task)"
              [currentUser]="currentUser" [isOwner]="isOwner()"
            (updateTaskEvent)="selectTaskTab($event)"></app-task-card>
          </div>
        }
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
