.tab-icon {
  margin-right: 8px;
}

.mat-mdc-card {
  margin: 0 10px;
}

::ng-deep.sidebar-col {
  max-width: 600px;
}

::ng-deep.mat-mdc-tab-header {
  margin-bottom: 12px;
}

::ng-deep .mat-mdc-tab.mdc-tab--active:not([disabled]),
::ng-deep .mat-mdc-tab.mdc-tab--active.cdk-keyboard-focused:not([disabled]) {
  font-weight: 700;
  color: #555555;
  opacity: 1;
}

::ng-deep .mat-mdc-tab {
  min-width: 120px !important;
  padding: 5px !important;
  margin: 3px !important;
}

h3 {
  color: #555555;
}
