.mat-mdc-dialog-content {
  text-align: center;
}

/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
.mat-dialog-subtitle {
  margin-bottom: 10px;
}

.text-success {
  color: #51721c;
}

.text-danger {
  color: #721c24;
}

p {
  margin: 20px;
}

p.fixed-size {
  -webkit-line-clamp: 14;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.mat-icon {
  font-size: 60px;
}
