@if (data) {
  <div>
    <mat-card-header>
      <mat-card-title>{{'TASK.CONFLICTS_TITLE' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card appearance="outlined">
      @if (existingConflicts > 0) {
        <div class="conflictmessage">
          <mat-chip-option>{{existingConflicts}}</mat-chip-option>
          {{ 'TASK.EXISTING_TASK' | translate : {taskType: data.task?.type} }}
          @if (data.isOwner) {
            <div class="assign-select">
              <mat-slide-toggle class="slide"
                matTooltip="{{ 'TASK.REASSIGN_TOOLTIP' | translate : {taskType: data.task?.type} }}"
                matTooltipPosition="above" [(ngModel)]="data.task.reassignAlreadyAssignedRows">
              {{ 'TASK.REASSIGN' | translate }}</mat-slide-toggle>
            </div>
          }
        </div>
      }
      @if (roleConflicts > 0) {
        <div class="conflictmessage">
          <mat-chip-option>{{roleConflicts}}</mat-chip-option>
          {{ 'TASK.ROLE_CONFLICT_TASK' | translate : {oppositeType: getTaskOppositeType()} }}
          @if (data.isOwner) {
            <div class="assign-select">
              <mat-slide-toggle class="slide" matTooltip="{{ 'TASK.ALLOW_SAME_AUTHOR_REVIEWER_TOOLTIP' | translate }}"
                matTooltipPosition="above"
                [(ngModel)]="data.task.allowAssigneeToBeAuthorAndReviewer">
              {{ 'TASK.ALLOW_SAME_AUTHOR_REVIEWER' | translate }}</mat-slide-toggle>
            </div>
          }
        </div>
      }
      @if (existingAndRoleConflicts > 0) {
        <p class="conflict-note">
          {{'TASK.BOTH_ROW_CONFLICT_TYPES_EXIST' | translate : {count: existingAndRoleConflicts} }}
        </p>
      }
    </mat-card>
    <mat-card-actions class="matcardactions">
      @if (data.errorMessage) {
        <div class="matcardactions-left">
          @if (data.errorMessage.indexSpecificationWithAllConflictsRemoved
            && data.errorMessage.indexSpecificationWithAllConflictsRemoved.count > 0
            && !data.task.allowAssigneeToBeAuthorAndReviewer
            && !data.task.reassignAlreadyAssignedRows) {
            <button mat-raised-button color="primary" type="cancel"
              (click)="onCreateAnyway()">
              {{ 'TASK.CREATE_TASK_ANYWAY' | translate : {
              total: calculateRowCountToCreate(),
              original: data.errorMessage.originalIndexSpecification.count,
              skipped: calculateSkippedCount()
            }
          }}</button>
        }
        @if (calculateRowCountToCreate() > 0 && (data.task.allowAssigneeToBeAuthorAndReviewer || data.task.reassignAlreadyAssignedRows)) {
          <button
            mat-raised-button color="primary" type="cancel"
            (click)="onCreateWithOverride()">
            {{ 'TASK.CREATE_TASK_OVERRIDE' | translate : {
            total: calculateRowCountToCreate(),
            original: data.errorMessage.originalIndexSpecification.count,
            skipped: calculateSkippedCount(),
            overridden: calculateOverriddenCount()
          }
          }}
        </button>
      }
      @if (data.errorMessage.indexSpecificationWithAllConflictsRemoved
        && data.errorMessage.indexSpecificationWithAllConflictsRemoved.count == 0
        && !data.task.allowAssigneeToBeAuthorAndReviewer
        && !data.task.reassignAlreadyAssignedRows) {
        <p>
          {{(data.isOwner ? 'TASK.NO_ROWS_CAN_BE_ASSIGNED_OWNER' : 'TASK.NO_ROWS_CAN_BE_ASSIGNED')
          | translate : {originalCount: data.errorMessage.originalIndexSpecification.count}
          }}
        </p>
      }
      @if (calculateRowCountToCreate() == 0 && (data.task.allowAssigneeToBeAuthorAndReviewer || data.task.reassignAlreadyAssignedRows)) {
        <p
          >
          {{'TASK.NO_ROWS_CAN_BE_ASSIGNED_DESPITE_OVERRIDES' | translate : {
          overridden: calculateOverriddenCount(),
          originalCount: data.errorMessage.originalIndexSpecification.count
          } }}
        </p>
      }
    </div>
  }
  <div class="matcardactions-right">
    <button mat-raised-button color="default" type="cancel"
    (click)="onCancel(false, true)">{{ 'FORM.CANCEL' | translate }}</button>
  </div>
</mat-card-actions>
</div>
}
