<div id="target-relationship-container">
  <app-errormessage [error]="error"></app-errormessage>
  <div class="card-relationship">
    @if (isNoMap() && !isReconcileTask()) {
      <mat-card appearance="outlined">
        <mat-card-content>{{'MAP.NO_MAPPING_AVAILABLE' | translate}}</mat-card-content>
      </mat-card>
    } @else {
      @for (relationship of relationships; track relationship) {
        <mat-card appearance="outlined" cdkDropList
          [appDroppable]="{zone: 'relationshipZone'}"
          [dropDisabled]="isEditDisabled()"
          (onDroppableComplete)="onDrop($event, relationship)">
          <mat-card-title>
            <button color="any" mat-icon-button (click)="addFocusTarget(relationship)"
              [disabled]="disableActions">
              <mat-icon>add</mat-icon>
            </button>
            <span>{{'RELATIONSHIP.' + relationship | translate}}</span>
          </mat-card-title>
          <mat-card-content>
            <mat-selection-list>
              @for (row of filterRows(relationship); track row) {
                <mat-option (click)="click(row)">
                  <span [appDraggable]="{data:row, zones:['relationshipZone']}"
                    class="row-target">
                    @if (isReconcileTask() && row.targetLastAuthor) {
                      <app-user-chip id="targetLastAuthorUserChip" [user]="row.targetLastAuthor"
                      [font_size]="'12px'"></app-user-chip>
                    }
                    <span class="selection-text">{{row.targetDisplay}}</span>
                    <span>
                      <span #tooltip="matTooltip" matTooltip="{{getTargetOutOfScopeTooltip(row)}}">
                        @if (row.targetOutOfScope) {
                          <button mat-icon-button disabled="{{!isOutOfScopeWithSuggestions(row) || isReviewTask()}}"(click)="onMapMaintenance(row)" color="accent"
                            ><mat-icon>warning</mat-icon></button>
                          }
                        </span>
                        <button mat-icon-button (click)="updateFlag(row)" [disabled]="disableFlagging"
                          [ngClass]="['flag']"
                          #tooltip="matTooltip" matTooltip="{{'MAP.TARGET_FLAGGED' | translate}}"
                          >@if (row.flagged) {
                          <mat-icon color="accent">flag</mat-icon>
                        } @else {
                          <mat-icon>outlined_flag</mat-icon>
                        }
                      </button>
                      @if (!disableActions) {
                        <span>
                          <button color="accent" mat-mini-fab #tooltip="matTooltip"
                            matTooltip="{{'DETAILS.DELETE' | translate}}"
                            (click)="removeTarget(row)"><mat-icon>remove</mat-icon></button>
                          </span>
                        }
                      </span>
                    </span>
                  </mat-option>
                }
              </mat-selection-list>
            </mat-card-content>
          </mat-card>
        }
      }
    </div>
  </div>
