.properties {
  overflow: auto;
  max-height: 200px;
}

.mat-mdc-card {
  max-height: 340px;
}

.mat-mdc-table {
  margin-top: 0;
  display: table;
}

.mat-mdc-row {
  height: auto;
}

.mat-mdc-row:nth-child(even){
  background-color: #00000010;
}

.row-line-above {
  border-top: 2px solid black;
}

.properties .mat-mdc-cell {
  padding: 3px 6px;
}

.mat-column-aux {
  width: 20px;
  padding: 0 3px !important;
}

.mat-column-key {
  text-transform: capitalize;
  font-weight: bold;
  min-width: 7em;
}

.mat-mdc-chip {
  min-height: 20px;
  text-align: center;
  padding: 0 4px;
  border-radius: 6px;
  display: inherit;
}

.grip {
  cursor: grab;
  font-size: 16px;
  text-align: center;
  width: 28px;
  height: 16px;
}

.properties-header {
  width: 150px;
}

/* make date role group "fixed width" as it only ever contains a circle (or not) */
.mat-column-roleGroup {
  width: 10px;
}
