.mat-mdc-card {
  margin-bottom: 10px;
}

.mat-mdc-card-content {
  display: inline-block;
  width: 95%;
}

.mat-mdc-card-actions {
  display: inline-block;
}

.timestamp {
  font-size: 0.7em;
  float: right;
}
