.mat-mdc-form-field {
  width: 100%;
}

mat-icon.add {
  margin-right: 8px;
}

button.add {
  margin-top: 24px;
  float: right;
}

#input {
  flex: 1;
}

#list {
  flex: 2;
}

#notes {
  display: flex;
  gap: 20px;
}

#notes-list, #system-notes-list {
  max-height: 305px;
  overflow-y: auto;
}

.notes-count-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #ff4081;
  color: white;
  font-size: 0.75em;
}
