<div id="notes">
  <mat-card appearance="outlined" id="input">
    <mat-card-header>
      <mat-card-title>{{'DETAILS.ADD_NOTE' | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (newNote) {
        <mat-form-field id="new-note-input"
          hintLabel="{{'FORM.MAX_CHARS' | translate}} {{MAX_NOTE}}"
          [appDroppable]="{zone: 'noteZone'}"
          (onDroppableComplete)="onDrop($event)">
          <mat-label>{{ 'DETAILS.NOTE_TEXT' | translate }}</mat-label>
          <textarea matInput [(ngModel)]="newNote.noteText"
            id="text" name="text" #text="ngModel"
            [maxLength]="MAX_NOTE" [pattern]="VALID_STRING_PATTERN"
          ></textarea>
          <mat-hint align="end">{{text.value?.length || 0}}/{{MAX_NOTE}}</mat-hint>
          @if (text.invalid) {
            <mat-error>{{ 'DETAILS.NOTE_TEXT_ERROR' | translate }}</mat-error>
          }
        </mat-form-field>
      }
      <button class="add" color="primary" mat-raised-button type="button"
        (click)="addNewNote()" [disabled]="!isValid()">
        <mat-icon class="add">save</mat-icon>
        {{'DETAILS.NOTE_SAVE' | translate}}
      </button>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined" id="list">
    <mat-card-header>
      <mat-card-title>{{'DETAILS.NOTES' | translate}}
        &nbsp;
        @if (notes.length > 0) {
          <mat-chip-option color="accent" selected>{{notes.length}}</mat-chip-option>
        }
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div id="notes-list">
        @for (note of notes; track note) {
          <div>
            <app-notes-item [note]="note">
              <button mat-icon-button color="accent" title="{{'PROJECT.DELETE_NOTE_TOOLTIP' | translate}}"
                [disabled]="!canDelete(note)"
                (click)="deleteNote(note)"><mat-icon>delete</mat-icon></button>
              </app-notes-item>
            </div>
          }
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" id="list">
      <mat-card-header>
        <mat-card-title>{{'DETAILS.SYSTEM_NOTES' | translate}}
          &nbsp;
          @if (systemNotes.length > 0) {
            <mat-chip-option color="accent" selected>{{systemNotes.length}}</mat-chip-option>
          }
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div id="system-notes-list">
          @for (note of systemNotes; track note) {
            <div>
              <app-notes-item [note]="note">
              </app-notes-item>
            </div>
          }
        </div>
      </mat-card-content>
    </mat-card>
  </div>
