@import '../../_directives/droppable.directive.css';

/* Table */
.full-width-table {
  width: 100% !important;
  table-layout: fixed;
  display: table;
  overflow: auto;
}

.mat-column-sourceDisplay, .mat-column-targetDisplay, .mat-column-targetCode {
  cursor: pointer;
}

.mat-mdc-row:hover:not(.clicked-row) .mat-mdc-cell {
  background-color: #dcf1fc;
}

.clicked-row .mat-mdc-cell {
  background-color: deepskyblue;
}

.compact-table .mat-mdc-row {
  height: 30px;
}

.mat-mdc-header-cell {
  padding: 0 5px 0 0;
  color: #4b6b85;
}

/** columns **/
.mat-column-filter-id,
.mat-column-bulk-id,
.mat-column-id {
  width: 35px;
  text-align: center;
}

.mat-column-filter-sourceIndex,
.mat-column-bulk-source-index,
.mat-column-sourceIndex {
  width: 35px;
  text-align: center;
}

.mat-column-filter-lastAuthorReviewer,
.mat-column-lastAuthorReviewer {
  width: 60px;
  text-align: left;
}

.mat-column-filter-sourceCode, .mat-column-filter-targetCode,
.mat-column-bulk-source-code, .mat-column-bulk-target-code,
.mat-column-filter-sourceCode .mat-mdc-form-field, .mat-column-filter-targetCode .mat-form-field,
.mat-column-sourceCode, .mat-column-targetCode {
  width: 100px;
  max-width: 150px; /* wide enough for an 18 digit SNOMED code */
  overflow-wrap: break-word;
}

.mat-column-filter-sourceDisplay, .mat-column-filter-targetDisplay,
.mat-column-bulk-source-display,
.mat-column-sourceDisplay, .mat-column-targetDisplay {
  min-width: 120px;
}

/* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version. */
.mat-column-filter-sourceDisplay .mat-form-field-type-mat-input {
  width: 95% !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version. */
.mat-column-filter-targetDisplay .mat-form-field-type-mat-input {
  width: 95% !important;
}

.mat-column-targetOutOfScope,
.mat-column-filter-targetOutOfScope,
.mat-column-noMap, 
mat-column-bulk-noMap, 
.mat-column-filter-noMap, 
.mat-column-flagged, 
.mat-column-filter-flagged {
  width: 60px;
}

::ng-deep .mat-column-filter-noMap .mat-mdc-form-field{
  width: 60px;
}

::ng-deep .mat-column-filter-targetOutOfScope .mat-mdc-form-field{
  width: 60px;
}

::ng-deep .mat-column-filter-flagged .mat-mdc-form-field{
  width: 60px;
}

::ng-deep .mat-column-filter-notes .mat-mdc-form-field{
  width: 60px;
}

::ng-deep .mat-column-filter-lastAuthorReviewer .mat-mdc-form-field {
  width: 60px;
}

.mat-column-relationship, .mat-column-bulk-relationship, .mat-column-status {
  width: 120px;
  font-size: 0.8em;
}

.mat-column-latestNote, .mat-column-actions {
  width: 60px;
  text-align: left;
}

::ng-deep .mat-column-filter-relationship .mat-mdc-form-field,
::ng-deep .mat-column-filter-status .mat-form-field {
  width: 120px;
}

.mat-mdc-standard-chip {
  height: auto;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
#table-mapping ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0!important;
}

td.mat-mdc-cell {
  padding: 0 5px;
}

.show-borders {
  border-collapse: collapse;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
::ng-deep .highlight-check .mat-checkbox-inner-container .mat-checkbox-persistent-ripple {
  opacity: .1;
  background-color: blueviolet !important;
}

.flag {
  color: rgba(0,0,0,0.46);
}

.mat-column-bulk-target-display {
  text-align: right;
  font-size: 1em;
  min-width: 100px;
  padding-right: 30px;
}

.mat-mdc-outlined-button {
  color: #4a4a4a;
}

.mat-mdc-icon-button {
  width:30px !important;
  height:30px !important;
  line-height: 30px !important;
}

.hide-filter {
  display: none;
}
