
.item-list {
  border-top: 1px solid #00000010;
}

.highlight {
  background-color: deepskyblue !important;
}

.strike {
  text-decoration: line-through;
}
    
.mat-mdc-table {
  margin-top: 0;
  display: table;
}
  
.mat-mdc-row {
  height: auto;
}
.mat-mdc-row:hover:not(.highlight) {
  background-color: #dcf1fc !important;
}
.mat-mdc-row:nth-child(even){
  background-color: #00000010;
}
  
.item-list .mat-mdc-cell {
  padding: 3px 6px;
}
  
.semantic-tag {
  text-align: right;
}
  